In [4]:
import pandas as pd
import numpy as np .

data = pd.Series(np.random.randn(9),
                 index = [['a','a','a','b','b','c','c','d','d']])

# Com a indexação hierárquica eu posso usar a indexação parcial
data['b']
data['c']

c   -0.434862
c    0.495090
dtype: float64

In [7]:
frame = pd.DataFrame(np.arange(12).reshape(4,3),
                     index = [['a','a','b','b'], [1,2,1,2]],
                     columns = [['Ohio', 'Ohio', 'Colorado'],
                                ['Gree','Red', 'Green']])
frame

    Ohio     Colorado
    Gree Red    Green
a 1    0   1        2
  2    3   4        5
b 1    6   7        8
  2    9  10       11

In [20]:
# Os níveis hierárquicos podem ter nomes (como strigns ou quaisquer objetos Python.)
# Nesse caso, eles serão exibidos na saída do console
frame.index.names = ['Key1',' Key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color      Gree Red    Green
Key1  Key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [1]:
import nltk as n 
import spacy
from nltk import RegexpTokenizer
texto = open('Memórias-Postumas-de-Brás-Cubas-PDF.txt', 'r', encoding = 'utf-8').read()

tokenizer = RegexpTokenizer(r'\w+')
tokens = tokenizer.tokenize(texto)

In [2]:
# removendo as stopwords do texto
from nltk.corpus import stopwords 
stop = stopwords.words('portuguese')
texto_sem_stpo = [token for token in tokens if token not in stop]

In [3]:
print(len(tokens))
print(len(texto_sem_stpo))

69620
40345

Escolha um corpus qualquer e usando as funções do NLTK faça:
a extraia todos os bigramas do corpus
b extraia todos os trigramas do corpus
c extraia todos os 4-gramas do corpus
d retorne as entidades nomeasas do corpus, usando os bigramas e trigramas
e escolha 3 palavras do seu corpus e faça o stemming delas
f separe uma sentença do seu corpus e retorne todas as classes gramaticais das 
palavras da sentença. Analise se o etiquetador acertou todas as classes gramaticais
g retorne as entidades nomeadas do seu corpus

In [7]:
from nltk import bigrams, trigrams, ngrams 
bigramas = list(bigrams(texto_sem_stpo))
trigramas = list(trigrams(texto_sem_stpo))
n_gramas = list(ngrams(texto_sem_stpo, 4))

In [ ]:

from nltk.tag.stanford import StanfordNERTagger
ner = StanfordNERTagger('pt_crf')